* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
=======


}

#map {
    border: 1px solid black;
    height: 300px;
    width: 100%;

>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
}

html {
}

h1 {
    font-family: 'Arial';
    font-size: 40px;
    padding-bottom: 20px;
}

h2 {
    font-size: 40px;
    color: black;
}

a{
    text-decoration: none;
}

td:first-child, th:first-child{
    text-align: right;
}

.nummer{
    width: 100px;
}

<<<<<<< HEAD
#tekst1, #tekst2{
    text-align: center;
}

img{
  width: 100%;
  height: auto;
=======
img{
    width: 100%;
    height: auto;
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
}

.login_nav {
    display: flex;
    list-style: none;
    background-color: #374048;
    padding: 4px;
    justify-content: center;
}
.center_nav {
    display: flex;
    width: 990px;
    justify-content: flex-end;
}
.center_nav li {
    padding-right: 20px;
    list-style: none;
}
.center_nav a {
    text-decoration: none;
}
.center_nav p {
    color: #e2e6e9;
    font-family: 'Arial';
    font-size: 14px;
}
<<<<<<< HEAD
.center_nav > ul > li:first-child{
    padding-left: 4px;
}
.center_nav p:hover {
    color: #d4d9de;
}
.center_nav ul li ul {
    display: none;
}

.center_nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: #374048;
    z-index: 1;
}

.center_nav li ul li{
    
    padding: 4px;
=======
.center_nav p:hover {
    color: #d4d9de;
}
.center_nav ul li ul li {
    display: none;
}
.center_nav ul li:hover ul li {
    display: flex;
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
}

.uitloggen-form {
    margin-right: 20px;
    text-align: right;
}

.uitloggen-form:hover .button_hide {
    display: block;
}

<<<<<<< HEAD

=======
.button_hide {
    display: none;
}
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
#button_p {
    font-size: 14px;
    font-family: 'Arial';
    color: #e2e6e9;
    background-color: #374048;
    border: none;
    cursor: pointer;
    float: right;
    text-align: right;
}
#button_p:hover {
    color: #d4d9de;
}

nav {
    background: #708090;
}
.shadow {
    -moz-box-shadow:    inset 0 0 2px #374048;
    -webkit-box-shadow: inset 0 0 2px #374048;
    box-shadow:         inset 0 0 2px #374048;
}
nav ul {
    list-style: none;
    display: block;
    justify-content: center;
    margin: auto;
}
nav li {
    flex: 1;
}
nav a {
    font-family: 'Arial';
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #e2e6e9;
    display: block;
    padding: 15px 40px;
    display: flex;
}
nav i {
    flex: 1;
    padding-right: 5px;
}
nav p {
    padding-top: 6px;
    flex: 1;
    text-align: left;
}
nav ul a:hover {
    color: #d4d9de;
    background-color: #7d8c9b;
}
.current_page {
    background-color: #635323;
}
.current_page:hover {
    background-color: #77642b;
}

nav ul li ul {
    display: none;
}

nav ul li:hover ul {
    display: flex;
    flex-direction: column;
    width: 215.03px;
    position: absolute;
    background-color: #708090;
    z-index: 1;
}


.container {
<<<<<<< HEAD
        
=======

>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
}
.grid_home a {
    text-decoration: none;
    color: black;
    font-family: 'Arial';
    font-size: 14px;
    display: flex;
    flex-direction: row;
}
<<<<<<< HEAD
.h4 a {
=======
.h2 a, .h4 a {
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
    text-decoration: none;
    color: black;
    font-family: 'Arial';
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
}

.h1 {
    grid-area: h1;
    opacity: 0.7;
}
.h1:hover {
    background-color: #e5e3de;
    opacity: 1;
}
.h2 {
    grid-area: h2;
    opacity: 0.7;
    background: linear-gradient(to right, lightsteelblue 40%, white 40% );
<<<<<<< HEAD
    display: block;
}

.h2 > div{
=======
}
.h2 div{
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 450px;
<<<<<<< HEAD
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-row: 50% 50% ;
    grid-template-areas:
    "n1"
    "n2"
    
}

.h2 > div:first-child{
    margin-top: 50px;
    grid-area: n1;
}

.h2 > div:second-child{
    
    grid-area: n2;
=======
}
.h2 div{
    margin-top: 50px;
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
}

.h2 div p:last-child{
    text-align: right;
}

.h2:hover {
    background: linear-gradient(to right, lightsteelblue 40%, #e5e3de 40% );
    opacity: 1;
}



.h3 {
    grid-area: h3;
    opacity: 0.7;
}
.h3:hover {
    background-color: #e5e3de;
    opacity: 1;
}
.h4 {
    grid-area: h4;
    opacity: 0.7;
}
.h4:hover {
    background-color: #e5e3de;
    opacity: 1;
}

.bedrijf_text {
<<<<<<< HEAD
    flex: 1;    
=======
    flex: 1;
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
    padding: 50px;
    min-height: 409px;
}
.bedrijf_img {
<<<<<<< HEAD
    flex: 1;    
    background: url(img/image001.jpg) center;
}
.product_text {
    flex: 1;    
=======
    flex: 1;
    background: url(img/image001.jpg) center;
}
.product_text {
    flex: 1;
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
    padding: 50px;
    min-height: 409px;
}
.product_img {
<<<<<<< HEAD
    flex: 1;   
=======
    flex: 1;
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
}
.product_img img{
    height:100%;
    object-fit: cover;
}


.n0{
    grid-area: n0;
}

.n1{
    grid-area: n1;
}

.n2{
    grid-area: n2;
}

.n3{
    grid-area: n3;
}
.nb0{
    grid-area: nb0;
    padding: 50px;
}
.nb0 label{
    width: 40%;
    display: inline-block;
    text-align: right;
}
.nb0 input{
    margin-right: auto;
}
.archief div{
    padding: 50px;
    padding-bottom: 0px;
}
.archief div p:last-of-type{
    text-align: right;
    color: lightsteelblue;
}

p {
    text-decoration: none;
    list-style: none;
}


.grid_portfolio {

}
.p1, .p2, .p3{
    margin: 0px;
    padding: 50px;
    font-family: 'Arial';
    font-size: 12px;
}
<<<<<<< HEAD
.grid_portfolio .p1:hover,.grid_portfolio .p2:hover,.grid_portfolio .p3:hover{
=======
.p1:hover, .p2:hover, .p3:hover{
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
    background-color: lightslategrey;
}

.p1 {
    grid-area: p1;
    background-color: lightsteelblue;
}
.p2 {
    grid-area: p2;
    background-color: rgb(156, 196, 222);
}
.p3 {
    grid-area: p3;
    background-color: lightsteelblue;
}

<<<<<<< HEAD
.grid_slideshow .p1{
    text-align: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 300px;
    padding-bottom: 0px;
}
.mySlides img{
    max-height: 300px;
    object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 




=======
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
.grid_footer {
    display: flex;
    justify-content: center;
    background: #708090;
    height: 250px;
}

.f1 {
    color: #FFF;
    width: 900px;
    padding: 50px;
    font-family: 'Arial';
    font-size: 12px;
    text-align: center;
}

.grid_inloggen {
    display: grid;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-template-areas:
<<<<<<< HEAD
    ". i1 ."
    ". i2 ."    
=======
        ". i1 ."
        ". i2 ."
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
}

.inloggen-form {
    grid-area: i1;
    display: flex;
    flex-direction: column;
    padding: 50px 200px 50px 200px;
}

.iregistreren-form {
    grid-area: i2;
    display: flex;
    flex-direction: column;
    padding: 0px 200px 0px 200px;
}

.inlog-item {
    height: 50px;
    font-size: 18px;
    padding: 10px;
    margin:10px;
}

.grid_registreren {
    display: grid;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    grid-template-areas:
<<<<<<< HEAD
    ". i1 ."
=======
        ". i1 ."
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
}

.registreren-form {
    grid-area: i1;
    display: flex;
    flex-direction: column;
    padding: 50px 200px 50px 200px;
}

.container-item {
    display: flex;
}

.reg-item {
    height: 50px;
    font-size: 18px;
    padding: 10px;
    margin:10px;
    flex: 15;
}

.checkmark.icon {
    display: none;
}
.cross.icon {
    display: none;
}
.icon {
    flex: 1;
    text-align: center;
    padding: 15px;
    transition: color 0.5s;
}

<<<<<<< HEAD
=======

>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
.checkmark.active {
    color: green;
    display: block;
}

.cross.active {
    color: red;
    display: block
}

<<<<<<< HEAD


@media screen and (min-width: 700px) {
    .picture_header {
        background: url(img/15578438_258663144551980_443141190466654411_n.jpg) center; 
        height: 300px;
    }   
    
    nav ul {
        display: flex;
        width: 990px;
    }
    
    .grid_home {
        display: grid;
        grid-template-columns: 1fr 36% 36% 1fr;
        grid-template-row: 1fr 1fr; 
        grid-template-areas:
        ". h1 h2 ."
        ". h3 h4 ."
=======
@media screen and (min-width: 1000px) {

    .picture_header {
        background: url(img/15578438_258663144551980_443141190466654411_n.jpg) center;
        height: 300px;
    }

    nav ul {
        display: flex;
        width: 990px;

    }

    .grid_home {
        display: grid;
        grid-template-columns: 14% 36% 36% 14%;
        grid-template-row: 1fr 1fr;
        grid-template-areas:
            ". h1 h2 ."
            ". h3 h4 ."
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
    }

    .grid_portfolio {
        display: grid;
        min-height: 300px;
<<<<<<< HEAD
        grid-template-columns: 1fr 24% 24% 24% 1fr;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
        ". p1 p2 p3 ."
    }
    
    .grid_slideshow {
        display: grid;
        min-height: 300px;
        grid-template-columns: 1fr 24% 24% 24% 1fr;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
        ". p1 p1 p1 ."
        ". p2 p3 p3 ."
    }
    .grid_naamplaat {
        display: grid;
        min-height: 300px;
        grid-template-columns: 1fr 36% 36% 1fr;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
        ". n2 n3 ."
    }
    .archief {
    display: grid;
    grid-template-columns: 1fr 36% 36% 1fr;
    grid-template-row: 1fr 1fr 1fr ;
    grid-template-areas:
    ". n0 n1 ."
    }
    .nieuwsbewerkengrid{
        display: grid;
        grid-template-columns: 1fr 72% 1fr;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
    ". nb0 ." 
=======
        grid-template-columns: 14% 24% 24% 24% 14%;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
            ". p1 p2 p3 ."
    }

    .grid_naamplaat {
        display: grid;
        min-height: 300px;
        grid-template-columns: 14% 36% 36% 14%;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
            ". n2 n3 ."
    }
    .archief {
        display: grid;
        grid-template-columns: 14% 36% 36% 14%;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
            ". n0 n1 ."
    }
    .nieuwsbewerkengrid{
        display: grid;
        grid-template-columns: 14% 72% 14%;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
            ". nb0 ."
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
    }
}

.contacttext h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.contacttext textarea {
    resize: none;
}
.formulieren .error {
    color: red;
}
.contacttext {
    border-top: 30px solid;
    border-bottom: 80px solid;
    border-color: #8396A8;
    padding: 0;
    border-left: 150px solid;
    color: #8396A8;
    font-size: 12px;
    font-family: 'Arial';
    background-color: #8396A8;
    display:grid;
    grid-template-columns: 35% 30% 30%;

}
.formulieren input {
    width: 180px;
}
.formulieren input, textarea {
    margin-top: 12px;
}
.formulieren label{
    text-align: right;
    padding-right: 12px;
    margin-top: 12px;
    float: left;
    width: 150px;
    clear: left;

}
.formulieren .theSubmit {
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.adresgegevens {
    margin-top: 12px;
    color: #FFF;
}
.adresgegevens li {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFF;

}
#adrescontact {
    list-style-type: none;
    margin-left: 210px;
    margin-top: 30px;
    text-align: left;
}
.formulieren {
    /*text-align: center;*/
    font-family: 'Arial';
    font-size: 12px;
    color: #FFF;
}
.boxes {
    margin-top: 50px;
}

<<<<<<< HEAD
=======

>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
#map {
    border: 1px solid black;
    height: 300px;
    width: 100%;
}
.bedrijf_text {
    flex: 1;
    padding: 50px;
    min-height: 409px;
}
.bedrijf_img {
    flex: 1;
    background: url(img/image001.jpg) center;
<<<<<<< HEAD
}  
 .grid_bedrijf {
=======
}
.grid_bedrijf {

    .grid_bedrijf {

>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
        font-size: 12px;
        font-family: 'Arial';
        display: grid;
        grid-template-columns:1fr  2fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        justify-items: stretch;
        align-items: strecht;
        grid-gap:3em;
        padding: 5em;
<<<<<<< HEAD
}
.grid_bedrijf h2 {
    display: inline-block;
    text-align: center;
    margin: 0;
}
.grid_bedrijf p {
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}
.fotob1 {
    display: inline-block;
    width: 100%;
    height: auto;
}
.b1, .b2, .b3, .b4 {
    background: #708090;
}

.b1 {
    grid-column:1;
    grid-row:1/2;
}
.b2 {
    grid-column:2/5;
    grid-row:1/2
}

.b3 {
    grid-column:1/3;
    grid-row:2/4;
}
.b4 {
    grid-column:3;
    grid-row:2/4;
=======

    }
    .grid_bedrijf h2 {
        display: inline-block;
        text-align: center;
        margin: 0;
    }
    .grid_bedrijf p {
        display: inline-block;
        margin-top: 15px;
        padding: 10px;
        text-align: center;
    }
    .fotob1 {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    .b1, .b2, .b3, .b4 {
        background: #708090;
    }

    .b1 {
        grid-column:1;
        grid-row:1/2;
    }
    .b2 {
        grid-column:2/5;
        grid-row:1/2
    }

    .b3 {
        grid-column:1/3;
        grid-row:2/4;
    }
    .b4 {
        grid-column:3;
        grid-row:2/4;

    }
    .grid_bedrijf h2 {
        display: inline-block;
        text-align: center;
        margin: 0;
    }
    .grid_bedrijf p {
        display: inline-block;
        margin-top: 15px;
        padding: 10px;
        text-align: center;
    }
    .fotob1 {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    .b1, .b2, .b3, .b4 {
        background: #708090;
    }

    .b1 {
        grid-column:1;
        grid-row:1/2;
    }
    .b2 {
        grid-column:2/5;
        grid-row:1/2
    }

    .b3 {
        grid-column:1/3;
        grid-row:2/4;
    }
    .b4 {
        grid-column:3;
        grid-row:2/4;
    }

>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
}

.error2 {
    display: none;
}

.error2.active {
    display: block;
    color: red;
    margin: 0px 10px 0px 10px;
    font-family: 'Arial';
    font-size: 11px;
    text-align: right;
}

.error3 {
    display: none;
}

.error3.active {
    display: block;
    color: red;
    margin: 0px 10px 0px 10px;
    font-family: 'Arial';
    font-size: 11px;
    text-align: right;
}
<<<<<<< HEAD

.error4 {
    display: none;
}

.error4.active {
    display: block;
    color: red;
    margin: 0px 10px 0px 10px;
    font-family: 'Arial';
    font-size: 11px;
    text-align: right;
}


#overlay{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0px; 
    left: 0px; 
    background-color: #000; 
    opacity: 0.7;
    filter: alpha(opacity = 70) !important;
    display: none;
    z-index: 100;
    
}

#overlayContent{
    position: fixed; 
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    z-index: 100;
    padding: auto;
}

#imgBig{
    position: fixed;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.algemenevoorwaarden {
  font-family: arial;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: -100px;
  text-align: left;
}

.algemenevoorwaarden li {
  color: black;
}


/* Footer CSS */

.footer-distributed{
	background-color: #708090;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px Arial;
	padding: 30px 50px;
}
.footer-distributed .footer-center {
	color: yellow;
}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

/* Bedrijfslogo */

.footerlogo {
	margin: 0 auto;
	margin-top: 42px;
  width: 200px;
}

/* Footer urls */

.footer-links {
  text-align: center;
  margin-left: 10px;
}

.footer-distributed .footer-links {
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Midden van footer */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
}

/* Footer rechts */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer responsive maken */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px Arial;
	}


	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right,
	.footer-distributed .footerlogo {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

=======
.grid_contact {
    text-align: center;
    display: grid;
    grid-template-columns: 14% 72% 14%;
    grid-template-areas:
        ". c1 ."
        ". c2 ."
}
.formulier {
    grid-row: 1;
    grid-area: c1;
    margin: 0;
    min-height: 400px;
    min-width: 150px;
}
.simpleform ul, li{
    list-style: none;
}
.simpleform input, textarea {
    display:block;
    margin: 0 auto;
    resize: none;
    width: 200px;
}
.thesubmit {
    justify-content: center;
    text-align: center;
}
.simpleform label {
    display: block;

}


.grid_contact h3 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}
.gegevens {
    grid-row: 2;
    grid-area: c2;
    min-height: 200px;
    min-width: 150px;
}
#map {
    border: 1px solid black;
    height: 300px;
    width: 100%;
}


.error4 {
    display: none;
}

.error4.active {
    display: block;
    color: red;
    margin: 0px 10px 0px 10px;
    font-family: 'Arial';
    font-size: 11px;
    text-align: right;
>>>>>>> a119b577c80b79aaa1177fe3ae525743f0d0dc4d
}
